#root {
  width: 100%;
  max-width: 1280px;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100% auto;
}

.header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  width: 100%;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0;
}

.submitBtn{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #b7d2f0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: #90b8e0;
}

.submitBtn:active {
  background-color: #173046;
}

.footer {
  background-color: #282c34;
  padding: 20px;
  color: white;
  width: 100%;
  text-align: center;
}

